/* Common CSS Start */
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(100, 99, 99);
}
h2{
    font-size: 40px;
    color: grey;
}
h3{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 70px;
    color: rgb(163, 163, 163);
}
p{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(98, 97, 97);
}
img{
    max-width: 100%;
}
.primary-button{
    text-decoration: none;
    padding: 22px 40px;
    background-image: linear-gradient(45deg,orange, tomato);
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    box-shadow: 1px 1px 25px rgb(207, 122, 107);
}
.color-orange{
    color: orange;
}
.flex-container{
    display: flex;
}
.half-width{
    max-width: 50%;
    padding-left: 5%;
}
/* Common CSS End */

/* Top Banner CSS Start */

.top-banner-area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.banner-text{
    margin-top: 210px;
}
.banner-image img{
    max-width: 90%;
    border-radius: 15px;
}
/* Top Banner CSS End */

/* About Me Section CSS Start */

.about-area{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px 0px 50px 0px;
}
.about-text{
    margin-left: 16%;
}
.about-text p{
    max-width: 600px;
}

/* About Me CSS Section End */

/* Recipie Section CSS Start */

.recipie-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding:90px 0;
}
.recipie-title{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.recipie-width{
    max-width: 33%;
    padding: 2%;
    box-shadow: 1px 1px 25px rgb(189, 188, 188);
    border-radius: 35px;
}
.recipie-width img{
    border-radius: 25px;
}
#recipie-list-01{
    margin-left: 5%;
}
#recipie-list-02{
    margin-left: 2.5%;
    margin-right:2.5%;
}
#recipie-list-03{
    margin-right: 5%;
}


/* Recipie CSS Section End */

/* Social Section CSS Start */




/* Social CSS Section End */

/* Why Me Section CSS Start */



/* Why Me CSS Section End */